.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  @keyframes float-animation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animated-image {
    animation: float-animation 2s ease-in-out infinite;
  }