.Catalog {
    padding: 162px 60px;
    overflow: hidden;
}

.Catalogs_main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.Catalog_title {
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 40px;
}

.Arrows {
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.Arrows>img:hover {
    border-radius: 56px;
    transition-duration: 0.8s;
    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
}

.Catalog_imgs {
    width: 1400px;
}

.catalog_imgs {
    display: flex;
    gap: 24px;
}

@media only screen and (max-width: 1023px) {
    .Catalog {
    padding: 96px 41px;
    }
    .Catalog_main {
        width: 822px;
    }
    .Catalog_title {
        width: 731px;
    }
}

@media only screen and (max-width: 768px) {
    .Catalog {
        width: 100%;
        padding: 96px 40px;
    }
    .Catalog_main {
        width: 100%;
    }
    .Catalog_title {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .Catalog {
        padding: 96px 24px;
    }
    .Catalog_title>h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 420px) {
    .Catalog {
        padding: 96px 16px;
    }
    .Catalog_title>h2 {
        font-size: 24px;
    }
    .Arrows {
        display: none;
    }
    .Catalogs_main {
        width: 260px;
        gap: 56px;
    }
    .catalog_imgs {
        width: 1000px;
    }
    .Catalogs_main .swiper, swiper-container {
        overflow: unset;
    }
    .Catalogs_main .swiper-slide>img {
        width: 244px;
        height: 140px;
    }
}