.Command {
    padding: 57px 60px;
    background: linear-gradient(-50deg, #14063D 73.67%, #49CBF4 130%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Command_main {
    width: 1320px;
    height: 466px;
    border-radius: 56px;
    background: radial-gradient(104.31% 140.46% at 6.67% -4.97%, #800BF5 0%, rgba(128, 11, 245, 0.23) 46.56%, rgba(128, 11, 245, 0.08) 63.12%, rgba(128, 11, 245, 0.03) 73.24%, rgba(128, 11, 245, 0.00) 85.56%);
    padding: 56px 55px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.Command_main2 {
    display: flex;
    gap: 224px;
}

.Command_main2>div:nth-child(1) {
    display: flex;
    gap: 26px;
}

.main_text {
    width: 671px;
    font-size: 32px;
    height: 210px;
    line-height: 130%;
}

.Command_main2>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.art {
    width: 64px;
    height: 64px;
    border-radius: 40px;
    background: var(--purpure, #800BF5);
}

.Command_main3 {
    position: relative;
    left: 57px;
}

.Command_main3>img:hover {
    border-radius: 56px;
    border: none;
    transition-duration: 0.8s;
    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
}

@media only screen and (max-width: 1223px) {
    .Command {
        padding: 124px 41px;
    }
    .Command_main2 {
        gap: 48px;
        flex-direction: column;
     }
     .Command_main2>div:nth-child(1) {
        flex-direction: column;
        gap: 16px;
    }
     .Command_main3 {
        left: 600px;
        bottom: 140px;
    }
}


@media only screen and (max-width: 768px) {
    .Command {
        width: 100%;
        padding: 124px 40px;
    }
    .Command_main {
        width: 688px;
        height: 533px;
    }
    .Command_main2>div:nth-child(1) {
        flex-direction: column;
    }
    .Command_main2 {
       gap: 115px;
       flex-direction: column;
    }
    .Command_main3 {
        left: 500px;
        bottom: 140px;
    }
    .main_text {
        width: 591px;
    }
}

@media only screen and (max-width: 580px) {
    .Command {
        padding: 124px 24px;
    }
    .Command_main2 {
        gap: 48px;
    }
    .main_text {
        width: 441px;
        font-size: 24px;
    }
    .Command_main3 {
        left: 300px;
    }
}

@media only screen and (max-width: 420px) {
    .Command {
        padding: 0px 16px;
    }
    .Command_main {
        border-radius: 16px;
        width: 328px;
        height: 437px;
        padding: 24px 24px;
    }
    .Command_main2>div:nth-child(1) {
        gap: 21px;
    }
    .Command_main2 {
        gap: 48px;
     }
    .main_text {
        width: 280px;
        font-size: 20px;
    }
    .art {
        width: 48px;
        height: 48px;
    }
    .Command_main3 {
        left: 200px;
        bottom: 125px;
    }
    .sliderArrow1 {
        width: 48px;
        height: 48px;
    }
    .sliderArrow2 {
        width: 48px;
        height: 48px;
    }
}