.Possibilities {
    padding: 63px 75px;
    background: linear-gradient(-100deg, #14063D 68.67%, #49CBF4 150%);
    overflow: hidden;
}

.Possibilities_main2 {
    display: flex;
    gap: 15px;
    margin-top: 60px;
}

.Possibilities1>p:nth-child(1) {
    border-radius: 48px;
    border: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
    padding: 5px 32px;
    width: 247px;
    height: 32px;
    margin-bottom: 67px;
}

.Possibilities1>h1 {
    color: var(--white-20, rgba(255, 255, 255, 0.20));
    font-size: 120px;
    height: 120px;
    margin-bottom: 96px;
}

.Possibilities_words {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title_words {
    color: #49CBF4;
}

.Possibilities_words>button {
    width: 177px;
    height: 56px;
    border-radius: 56px;
    background: var(--gradient, linear-gradient(90deg, #800BF5 0%, #25C6F9 100%));
}

.Possibilities2 {
    display: flex;
}

.Possibilities2>img:nth-child(1) {
    position: relative;
    height: 232px;
    left: 40px;
    top: 30px;
}

.icon1 {
    z-index: 2;
}

.icon2 {
    z-index: -1;
    top: 0px!important;
    left: 100px!important;
}

.Possibilities .swiper-wrapper {
    display: inherit;
}

@media only screen and (max-width: 1023px) {
    .Possibilities {
        padding: 63px 41px;
    }
    .Possibilities1 {
        height: 551px;
    }
    .Possibilities1>p:nth-child(1) {
        margin-bottom: 0px;
    }
    .Possibilities1>h1 {
        margin-bottom: 36px;
    }
    .Possibilities2>img:nth-child(2) {
        width: 448px;
        height: 551px;
    }
}

@media only screen and (max-width: 768px) {
    .Possibilities {
        padding: 121px 40px;
        width: 100%;
        display: flex;
    }
    .Possibilities1 {
        height: 451px;
    }
    .Possibilities_main2 {
        flex-direction: column;
    }
    .Possibilities2>img:nth-child(1) {
        display: none;
    }
    .Possibilities_words {
        width: 468px;
    }
}

@media only screen and (max-width: 580px) {
    .Possibilities {
        padding: 0px 24px;
    }
}

@media only screen and (max-width: 420px) {
    .Possibilities {
        padding: 71px 16px;
    }
    .Possibilities1 {
        height: 351px;
    }
    .Possibilities1>h1 {
        font-size: 80px;
        margin-bottom: 0px;
    }
    .Possibilities_words>h2 {
        font-size: 24px;
        width: 328px;
        height: 56px;
    }
    .Possibilities_words>p {
        width: 300px;
    }
    .Possibilities2>img:nth-child(2) {
        width: 328px;
        height: 248px;
    }
}